body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:rgb(248, 240, 246);
  color: rgb(179, 223, 247);
  border-left: unset;
}

a {
  color: #b7e4f6;
}

h1 {
  color:rgb(195, 230, 252);
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color:rgb(247, 237, 245)#rgb;(252, 211, 246);
}

.menu li {
  float:left;
}

.menu li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
}